name: CI testing [unit testing]

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.11', '3.12', '3.13']
        steps:
        -   uses: actions/checkout@v4
        -   uses: ./.github/actions/setup
            with:
                python-version: ${{ matrix.python-version }}
        -   name: Install optional test dependencies
            shell: bash
            run: |
                source .venv/bin/activate
                uv pip install polars pandas networkx zarr numcodecs pyarrow python-igraph matplotlib torch torch-geometric
        -   name: Run tests with coverage
            run: |
                source .venv/bin/activate
                pytest --cov=annnet tests/
        -   name: Upload coverage report
            uses: actions/upload-artifact@v4
            with:
                name: coverage-report-${{ matrix.python-version }}
                path: .coverage*


    pixi-test-all:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   uses: prefix-dev/setup-pixi@v0.9.3
            with:
                environments: dev
                cache: true
        -   name: Run graph-tool tests only
            run:  |
                pip install polars
                pixi run test-gt